/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    /* border:0; */
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
=======================================================================
General Styles
=======================================================================
*/

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body {
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    color: #333;
    font-size: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

.page-container {
    /* background-color: silver; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/*
====================================================
Top Navigation
====================================================
*/

nav {
    width: 100%;
    display: flex;
}

.top {
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    background: white;
    height: 42px;
    padding: 5px 12px;
    border-bottom: 1px solid #e2e2e2;
}

.top div {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.top div:last-child {
    justify-content: flex-end;
}

.wordmark {
    justify-content: center;
}

.top a, .top img {
    height: 100%;
}

.top a {
    padding: 8px;
    margin: 5px;
    font-weight: bold;
}

.top .icon:hover {
    background-color: #f7f7f7;
}

.wordmark a {
    padding: 0;
}

.top button {
    color: white;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);    
    border-radius: 3px;
    height: 100%;
    font-weight: bold;
    margin: 4px;
}

.top button:hover {
    background-color: rgb(50, 104, 145);
}

/*
====================================================
Page Heading
====================================================
*/

header {
    width: 50%;
    margin-top: 110px;
}

header h1 {
    color: #121212;
    font-size: 2.5em;
    line-height: 3rem;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 22px;
    border-bottom: 1px solid #e2e2e2;
}

/*
====================================================
Social Links
====================================================
*/

.links {
    width: 100%;
    display: flex;
    margin-top: 22px;
}

.links a {
    height: 30px;
    margin-right: 15px;
}

.links img {
    height: 100%;
}

.links .icon img {
    height: 100%;
    border-radius: 50%;
}

.links .icon {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 50%;
    padding: 5px;
}

.links .icon:hover {
    background-color: white;
    border: 1px #999 solid;
}

/*
====================================================
Feature Photo
====================================================
*/

.photo {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 44px;
}

.photo img {
    width: 100%;
    max-height: 530px;
}

.caption {
    align-self: flex-start;
    width: 75%;
    color: #666;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    text-align: left;
    margin-top: 10px;
}

.caption span {
    color: #888;
    line-height: 1.125rem;
    letter-spacing: 0.01em;
}

/*
====================================================
Sidebar
====================================================
*/

.sidebar {
    background-color: blue;
    display: none;
    float: right;
    /* align-self: flex-end; */
}

/*
====================================================
Article
====================================================
*/

.article {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article > p {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.grid {
    background-color: magenta;
}

.video {
    display: flex;
    flex-direction: column;
}

.article-bottom {
    background-color: wheat;
}

.suggested {
    background-color: indigo;
}

/*
====================================================
Author and Date Info
====================================================
*/

.author {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    height: 90px;
    padding-bottom: 44px;
}

.author h3 {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 0.9375rem;
    font-weight: bold;
}

.author a {
    text-decoration: underline;
}

.author a:hover {
    text-decoration: none;
}

.author p {
    font-size: 0.8125rem;
}

/*
====================================================
Sign-Up Button
====================================================
*/

.sign-up {
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
    font-style: italic;
    line-height: 1.5rem;
    color: rgb(51, 51, 51);
}

.sign-up span {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
    letter-spacing: 0.03rem;
}

.sign-up button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 0.9375rem;
    font-weight: 700;
    width: 20%;
}

/*
====================================================
Subscribe Now
====================================================
*/

.spacer {
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 0;
    width: 12%;
    margin: 25px 0;
}

.subscribe {
    text-align: center;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 600;
}

.subscribe p {
    margin: 5px;
}

.subscribe a {
    color:rgb(50, 104, 145);
    text-decoration: none;
}

/*
====================================================
Footer
====================================================
*/

footer {
    background-color: maroon;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer > div {
    display: flex;
    justify-content: space-between;
}

nav.bottom:last-child {
    display: flex;
    flex-direction: column;
}